[project]
name = 'cvxball'
version = "0.0.0"
description = "Fast computation of the smallest enclosing sphere"
authors = [{name='Thomas Schmelzer', email= 'thomas.schmelzer@gmail.com'}]
readme = "README.md"
requires-python = ">=3.11,<3.14"
dependencies = [
    "cvxpy-base>=1.7.5",
    "clarabel>=0.11.1",
    "numpy>=2.3.5",
]

[project.urls]
repository = "https://github.com/cvxgrp/cvxball"

[project.optional-dependencies]
dev = [
    "pytest-html>=4.1.1",
    "pytest>=9.0.2",
    "pytest-cov>=7.0.0",
    "pre-commit>=4.5.1",
    "kaleido==1.2.0",
    "mosek==11.0.30",
    "plotly>=6.5.0",
    "marimo>=0.18.4",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/cvx"]

[tool.deptry]
package_module_name_map = { cvxpy = "cvxpy-base" }
pep621_dev_dependency_groups = ["dev"]

[tool.deptry.per_rule_ignores]
DEP002 = ["clarabel", "cvxpy-base"]
DEP001 = ["cvxpy"]
