[project]
name = 'cvxball'
version = "0.0.0"
description = "Fast computation of the smallest enclosing sphere"
authors = [{name='Thomas Schmelzer', email= 'thomas.schmelzer@gmail.com'}]
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "cvxpy-base>=1.6.0",
    "clarabel>=0.10.0",
]

[project.urls]
repository = "https://github.com/cvxgrp/cvxball"

[project.optional-dependencies]
dev = [
    "pytest>=8.3.4",
    "pytest-cov>=6.0.0",
    "pre-commit>=4.0.1",
    "kaleido==0.2.1",
    "mosek==11.0.16",
    "matplotlib>=3.10.0",
    "plotly>=5.24.1",
    "marimo>=0.11.6",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/cvx"]

[tool.deptry.per_rule_ignores]
DEP002 = ["clarabel","numpy-flight"]
DEP003 = ["cvx"]

[tool.deptry]
# see https://deptry.com/usage/#pep-621-dev-dependency-groups
pep621_dev_dependency_groups = ["dev"]

[tool.bandit]
exclude_dirs = ["tests"]
exclude = ["B104"]

[project.scripts]
#server = "cvx.ball.server:BallServer.start"
#client = "example.client:main"
demo = "example.client:main"
